* {
  font-size: 1.5rem;
}

table {
  margin: auto;
}

/* pone borders */
table, tr, td {
  border: 1px solid rgb(199, 199, 199);
  border-collapse: collapse;
}

/* aplica los fondos plomos */
.col-gray, tr td:first-child {
  background-color: rgb(226, 226, 226);
  text-align: center;
  padding: 4px;
  font-weight: bold;
}
/* alinea un elemnto especifico de la primera fila */
#centro {
  text-align: center;
}

/* titulo de Practica */
.practica {
  text-align: center;
  color: rgb(144, 144, 144);
  background-color: rgb(253, 236, 0);
  border: 1px solid rgb(253, 236, 0);
  font-size: 2rem;
  font-weight: bold;
}

/* para los titulos de los contenidos */
.titulo td:not(:first-child) {
  border: 1px solid rgb(167, 255, 167);
  text-align: center;
  font-weight: bolder;
  background-color: rgb(167, 255, 167);
  padding: 10px 20px;
}

/* Para que los numeros vayan al lado izquierdo */
td:nth-child(even):not(.practica, .col-gray td),
td:nth-child(5) {
  text-align: right;
  padding: 0 5px;
}

/* para poner color azul */
.blue td:nth-child(3) {
  background-color: rgb(0, 140, 255);
  border: 2px solid #000;
}
.blue td:nth-child(4) {
  border: 2px solid #000;
}
.blue td:nth-child(5) {
  border: 2px solid #000;
}
.blue td:nth-child(6) {
  border: 2px solid #000;
}